DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/salon
ALGORITHM=RS256
PRIVATE_KEY_PATH=secrets/private_key.pem
PUBLIC_KEY_PATH=secrets/public_key.pem
ACCESS_TOKEN_EXPIRE_SECONDS=32400
REFRESH_TOKEN_EXPIRE_SECONDS=604800
WEB_SOCKET_TIMEOUT_SECONDS=60
